sdk.dir=C:\\Users\\YOU\\AppData\\Local\\Android\\Sdk
noduq.apiBaseUrl=http://10.0.2.2:8080
noduq.supabaseUrl=https://gthbmxvefblwajeposrx.supabase.co
noduq.supabaseAnonKey=sb_publishable_oZgre9UW59JoWQitZylUXQ_iJ0Yj436
